@font-face {
  font-family: 'caviar_dreamsbold';
  src: url('/css/caviar_dreams_bold-webfont.woff2') format('woff2'),
       url('/css/caviar_dreams_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #241e20;
  color: #fff;
  font-family: 'caviar_dreamsbold';
  font-size: 1em;
}

#main-container{
  max-width: 1080px;
}

#logo-container img{
  max-height: 8em;
}

.navbar-toggler-icon{
  color: #fff;
}

.nav-item, .btn-info{
  color: white;
  background: none;
  border-radius: 0;
  letter-spacing: 0.35em;
  font-size: 1em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover{
  color: #fff;
}

.nav-link:hover, .nav-link.active, .btn-info:hover{
  color: #333 !important;
}

#navbarList{
  width: 100%;
}

.boton {
  margin: 0.3em;
  color: rgba(255,255,255,.5)!important;
}

.boton.azul {
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
  border: #0dd solid 2px;
}
.boton.azul:hover, .boton.azul.active {
  background-color: #0dd;
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
}

.boton.rojo {
  box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
  border: #fb5454 solid 2px;
}
.boton.rojo:hover, .boton.rojo.active {
  background-color: rgb(251, 84, 84);
  box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
}

.boton.verde {
  box-shadow: inset 0 0 1em rgba(57, 255, 20, 0.5), 0 0 1em rgba(57, 255, 20, 0.5);
  border: #39ff14 solid 2px;
}
.boton.verde:hover, .boton.verde.active {
  background-color: #39ff14;
  box-shadow: inset 0 0 0 rgba(57, 255, 20, 0.5), 0 0 1.5em rgba(57, 255, 20, 0.7);
}

.boton.amarillo {
  box-shadow: inset 0 0 1em rgba(247, 247, 77, 0.5), 0 0 1em rgba(247, 247, 77, 0.5);
  border: #f7f74d solid 2px;
}
.boton.amarillo:hover, .boton.amarillo.active {
  background-color: #f7f74d;
  box-shadow: inset 0 0 0 rgba(247, 247, 77, 0.5), 0 0 1.5em rgba(247, 247, 77, 0.7);
}

.boton.blanco {
  box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
  border: #fff solid 2px;
}
.boton.blanco:hover, .boton.blanco.active {
  background-color: #fff;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

.boton.transparente {
  box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
  border: rgba(255, 255, 255, 0) solid 2px;
}
.boton.transparente:hover, .boton.transparente.active {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

.dropdown-menu.show{
  border: 0px !important;
  background-color: transparent;
  padding-right: 0.6em;
}
.dropdown-item{
  color: rgba(255, 255, 255, 0.5) !important;
  background-color: #241e20;
}

.dropdown-item.disabled {
  background-color: #241e20;
  text-decoration: line-through;
}

.dropdown-item:hover{
  color: #333 !important;
}


/*************************************************************************/

.w-100{
  width: 100%;
}

#taller-patrocinadores img{
  max-height: 90px;
}

.container a {
  color: #39ff14;
}

/**************/
/* CSS FOOTER */
/**************/
footer{
	padding-top: 24px;
}

#copyright-footer {
    padding-top: 6px;
	font-size: 12pt;
}

#rrss-footer{
	float: right;
	text-align: right;
	font-size: 20pt;
}

#rrss-footer .rrss-link {
    color: #fff;
    font-size: 10pt;
}

#rrss-footer ul {
    list-style-type: none;
}

#rrss-footer li {
    line-height: 14px;
}

.rrss{
	margin-left: 16px;
	transition: color 0.2s ease-in-out;
}

#rrss-yt, #rrss-tt, #rrss-tw, #rrss-gitlab{
  color: #fff;
}

#rrss-yt:hover{
	color: #f00;
}

#rrss-tt:hover{
	color: #1DA1F2;
}

#rrss-tw:hover{
	color: #4B367C;
}

#rrss-gitlab:hover{
  color: #FC6D26;
}

.run-entry{
  color: #333;
}

.run-azul{
  background-color: #0dd;
}

.run-rojo{
  background-color: #fb5454;
}

.run-verde{
  background-color: #39ff14;
}

.run-amarillo{
  background-color: #f7f74d;
}

.run-blanco{
  background-color: #fff;
}


/***********/
/* COOKIES */
/***********/

#div-cookies h1 {
  font-size: 1.7rem;
}

#div-cookies h2 {
  font-size: 1.2rem;
}

div#div-cookies {
  font-size: 0.8rem;
}

#enlace-cookies a {
  font-size: 10pt;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .cc-window.cc-floating{
    max-width: none !important;
  }

  .cc-bottom {
      bottom: 0em !important;
  }
}



/**********/
/* SCROLL */
/**********/

::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-thumb{
  background-color: #FB5454;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #31D013;
}

::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar{
  width: 12px;
}

#mapa{
    height: 350px;
    width: 100%;   
}

#sponsor-container img, #sponsor-container-gamejam img {
  max-height: 70px;
}

.info-container button, .info-container a{
  margin: 1em auto !important;
  width: 75%;
}

.info-container button:hover{
  cursor: pointer;
}

.popover-header {
  color: #212529;
  text-align: center;
}

.participantes {
  margin: 2em 0;
  font-size: 1.2em;
}


/*   ADDED 2020 */

#gpty-title{
    font-size: 6rem !important;
}

#gpty-name{
  font-size: 1.5rem !important;
}

/* ANIMATIONS */
#donar:hover, #donar.active{
  animation: star-hover 1s infinite;
}
#donar{
  transition: animation background-color 0.3s, box-shadow 0.3s, color 0.3s;
  animation: star 1s infinite;
}

span.pulsating{
  animation: pulsating 5s infinite;
}
span.flickering-1 {
  animation: flickering-1 5s infinite;
}
span.flickering-2 {
  animation: flickering-2 7s infinite;
}
span.flickering-3 {
  animation: flickering-3 7s infinite;
}
span.flickering-4 {
  animation: flickering-4 5s infinite;
}
span.flickering-5 {
  animation: flickering-5 7s infinite;
}

@keyframes pulsating {
  0% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
  50% {
      text-shadow: 0px 0px 10px #33FF00,
          0px 0px 20px #33FF00,
          0px 0px 30px #33FF00,
          0px 0px 40px #33FF00,
          0px 0px 50px #33FF00,
          0px 0px 60px #33FF00;
      opacity: 1;
  }
  100% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
}

@keyframes flickering-1 {
  0% { opacity: 1; }
  52% { opacity: 1; }
  55% { opacity: 0; }
  56% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-2 {
  0% { opacity: 1; }
  62% { opacity: 1; }
  65% { opacity: 0; }
  66% { opacity: 1; }
  69% { opacity: 0; }
  70% { opacity: 1; }
  73% { opacity: 0; }
  74% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-3 {
  0% { opacity: 1; }
  82% { opacity: 1; }
  84% { opacity: 0; }
  85% { opacity: 1; }
  87% { opacity: 0; }
  88% { opacity: 1; }
  90% { opacity: 0; }
  91% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-4 {
  0% { opacity: 1; }
  32% { opacity: 1; }
  34% { opacity: 0; }
  35% { opacity: 1; }
  37% { opacity: 0; }
  38% { opacity: 1; }
  40% { opacity: 0; }
  41% { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes flickering-5 {
  0% { opacity: 1; }
  12% { opacity: 1; }
  14% { opacity: 0; }
  15% { opacity: 1; }
  17% { opacity: 0; }
  18% { opacity: 1; }
  20% { opacity: 0; }
  21% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes star {
  0% { 
    box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
    border: #0dd solid 2px;
   }

  16% {
    box-shadow: inset 0 0 1em rgba(247, 247, 77, 0.5), 0 0 1em rgba(247, 247, 77, 0.5);
    border: #f7f74d solid 2px;
  }

  32% { 
    box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
    border: #fb5454 solid 2px;
  }

  49% {
    box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
    border: #fff solid 2px;
  }

  65% {
    box-shadow: inset 0 0 1em rgba(57, 255, 20, 0.5), 0 0 1em rgba(57, 255, 20, 0.5);
    border: #39ff14 solid 2px;
  }

  81% {
    box-shadow: inset 0 0 1em rgba(247, 247, 77, 0.5), 0 0 1em rgba(247, 247, 77, 0.5);
    border: #f7f74d solid 2px;
  }

  97% { 
    box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4);
    border: #fb5454 solid 2px;
  }

  100% {
    box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
    border: #0dd solid 2px;
  }
}

@keyframes star-hover {
  0% { 
    background-color: #0dd;
    box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7); 
  }

  16% {
    background-color: #f7f74d;
    box-shadow: inset 0 0 0 rgba(247, 247, 77, 0.5), 0 0 1.5em rgba(247, 247, 77, 0.7);
  }

  32% {
    background-color: rgb(251, 84, 84);
    box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
  }

  49% {
    background-color: #fff;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
  }

  65% {
    background-color: #39ff14;
    box-shadow: inset 0 0 0 rgba(57, 255, 20, 0.5), 0 0 1.5em rgba(57, 255, 20, 0.7);
  }

  81% {
    background-color: #f7f74d;
    box-shadow: inset 0 0 0 rgba(247, 247, 77, 0.5), 0 0 1.5em rgba(247, 247, 77, 0.7);
  }

  97% {
    background-color: rgb(251, 84, 84);
    box-shadow: inset 0 0 0 rgba(251, 81, 81, 0.4), 0 0 1.5em rgba(251, 81, 81, 0.6);
  }

  100% { 
    background-color: #0dd;
    box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7); 
  }
}
